@use "sass:color";
@import "../../styles/theme.scss";

.movie-card {
  position: relative;
  min-width: 5rem;
  max-width: 20rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  color: $COLOR_FONT_SECONDARY;

  &:hover {
    cursor: pointer;
  }

  .menu-button {
    position: absolute;
    display: none;
    top: 1rem;
    right: 1rem;
    width: 2.2rem;
    height: 2.2rem;
    background-color: $COLOR_BACKGROUND;
    border-radius: 50%;
  }

  .movie-image {
    width: 100%;
    min-width: 0;
    margin-bottom: 0.5rem;
  }

  .movie-info {
    position: relative;
    .movie-title {
      padding-right: 4rem;
      font-weight: semi-bold;
      font-size: 1.2rem;
      color: color.scale($COLOR_FONT_SECONDARY, $lightness: 30%);
    }

    .movie-release-date {
      position: absolute;
      top: 0;
      right: 0;
      width: 3.5rem;
      text-align: center;
      padding: 0.1rem 0.4rem;
      border: 0.5px solid $COLOR_FONT_SECONDARY;
      border-radius: 2px;
    }
  }

  &:hover {
    .menu-button {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0.3rem;
      color: $COLOR_FONT_PRIMARY;

      &:hover {
        background-color: color.scale($COLOR_BACKGROUND, $lightness: 30%);
        cursor: pointer;
      }
    }
  }

  .menu-display {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    width: 10rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: $COLOR_BACKGROUND;
    border-radius: 5px;

    &__close {
      align-self: flex-end;
      width: 1.45rem;
      height: 1.45rem;
      padding: 0.1rem;
    }
  }
}
