@use "sass:color";
@import '../../styles/main.scss';

.filter-tab {
  width: 100%;
  display: flex;
  margin: 1rem 0;
  font-size: 1.1rem;
  justify-content: space-between;
  line-height: 2.1rem;

  &__filters {
    display: flex;
    justify-content: space-between;
    width: 35rem;
  }

  &__item {
    font-weight: 500;
    &:hover {
      cursor: pointer;
      border-bottom: 2px solid $color-soft-red;
    }

    &.active {
      border-bottom: 2px solid $color-soft-red;
    }
  }

  &__sort {
    position: relative;
    display: flex;
    justify-self: end;
    font-weight: 400;
    color: $color-gray;
  }

  &__sort_lbl {
    margin-right: 0.5rem;
  }

  &__sort_btn {
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 0.2rem;

    &:hover {
      cursor: pointer;
      .filter-tab__sort_direction_desc {
        border-top: 10px solid $color-black;
      }

      .filter-tab__sort_direction_asc {
        border-bottom: 10px solid $color-black;
      }
    }
  }

  &__sort_direction_desc,
  &__sort_direction_asc {
    width: 0;
    height: 0;
  }

  &__sort_direction_desc {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid $color-soft-red;
  }

  &__sort_direction_asc {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid $color-soft-red;
  }

  &__sort_menu {
    position: absolute;
    top: 2rem;
    left: 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 10rem;
    background-color: color.scale($color-black, $lightness: 30%);
    border: 1px solid $color-gray;
    z-index: 100;
  }

  .MuiFormControl-marginNormal {
    margin: 0.5rem 0 1rem;
    background-color: color.change($color-dark-gray, $alpha: 0.5);
    color: $color-white;
    border-radius: 5px;
    padding: 0.42rem 1rem;
  }

  .MuiInputBase-input {
    color: $color-white;
  }

  .MuiInput-underline:after,
  .MuiInput-underline:before {
    display: none;
  }

  .MuiSelect-select.MuiSelect-select {
    padding: 0;
  }

  svg.MuiSvgIcon-root.MuiSelect-icon {
    display: none;
  }
}
