@use "sass:color";
@import "../../styles/theme.scss";

.filter-tab {
  width: 100%;
  display: flex;
  margin: 1rem 0;
  font-size: 1.1rem;
  justify-content: space-between;
  line-height: 2.1rem;

  .filter-tab__filters {
    display: flex;
    justify-content: space-between;
    width: 35rem;

    .filter-tab__item {
      font-weight: 500;
      &:hover {
        cursor: pointer;
        color: color.scale($COLOR_HIGHLIGHT, $lightness: 20%);
      }

      &.active {
        border-bottom: 2px solid $COLOR_HIGHLIGHT;
      }
    }
  }

  .filter-tab__sort {
    position: relative;
    display: flex;
    justify-self: end;
    font-weight: 400;
    color: $COLOR_FONT_SECONDARY;

    .filter-tab__sort_lbl {
      margin-right: 0.5rem;
    }

    .filter-tab__sort_btn {
      font-weight: 500;
      border: none;
      border-radius: 2px;
      padding: 0 0.2rem;
      width: 9rem;

      &.button-dark, .button-dark {
        font-size: 1.1rem;
        padding-top: 3px;
      }

      &:hover {
        cursor: pointer;
        .filter-tab__sort_direction_desc {
          border-top: 10px solid $COLOR_BACKGROUND;
        }

        .filter-tab__sort_direction_asc {
          border-bottom: 10px solid $COLOR_BACKGROUND;
        }
      }
    }

    .filter-tab__sort_direction {
      width: auto;
    }

    .filter-tab__sort_direction_desc,
    .filter-tab__sort_direction_asc {
      width: 0;
      height: 0;
    }

    .filter-tab__sort_direction_desc {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 10px solid $COLOR_HIGHLIGHT;
    }

    .filter-tab__sort_direction_asc {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 10px solid $COLOR_HIGHLIGHT;
    }

    .filter-tab__sort_menu {
      position: absolute;
      top: 2rem;
      left: 4.8rem;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      width: 10rem;
      background-color: color.scale($COLOR_BACKGROUND, $lightness: 30%);
      border: 1px solid $COLOR_FONT_SECONDARY;
      z-index: 100;
    }
  }

  .MuiFormControl-marginNormal {
    margin: 0.5rem 0 1rem;
    background-color: color.change($COLOR_INPUT_BACKGROUND, $alpha: 0.5);
    color: $COLOR_FONT_PRIMARY;
    border-radius: 5px;
    padding: 0.42rem 1rem;
  }

  .MuiInputBase-input {
    color: $COLOR_FONT_PRIMARY;
  }

  .MuiInput-underline:after,
  .MuiInput-underline:before {
    display: none;
  }

  .MuiSelect-select.MuiSelect-select {
    padding: 0;
  }

  svg.MuiSvgIcon-root.MuiSelect-icon {
    display: none;
  }
}
