@use "sass:color";

$color-soft-red: #f65261;
$color-dark-gray: #424242;
$color-black: #232323;
$color-gray: #555555;
$color-white: #fff;

body {
  color: $color-white;
  background-color: $color-black;
  font-family: sans-serif;
}

button {
  border-radius: 4px;
  letter-spacing: 0.05rem;

  &:hover {
    cursor: pointer;
  }
}

.button-dark {
  color: $color-white;
  background-color: $color-black;
  border-radius: 0;
  height: 2rem;

  &:focus {
    outline: none;
    border: none;
  }

  &:hover {
    background-color: color.scale($color-soft-red, $lightness: 10%);
    cursor: pointer;
  }
}

h1 {
  font-size: 32px;
  font-weight: normal;
}

.button-primary {
  width: 12rem;
  height: 3rem;
  background-color: $color-soft-red;
  color: $color-white;
  font-size: 1.3rem;

  &:hover {
    background-color: color.scale($color-soft-red, $lightness: 10%);
    cursor: pointer;
  }
}

.button-secondary {
  width: 12rem;
  height: 3rem;
  border: 1px solid $color-soft-red;
  color: $color-soft-red;
  background-color: $color-black;

  &:hover {
    background-color: $color-gray;
  }
}

.button-invalid {
  background-color: $color-gray;
  &:hover {
    background-color: $color-gray;
    cursor: default;
  }
}

.validation-error-display {
  color: color.scale($color-soft-red, $lightness: 20%);
  margin: 0.3rem 0 0.5rem;
  font-size: 1rem;
}

.form-label {
  color: $color-soft-red;
}

.form-input {
  margin: 0.3rem 0 1rem;

  &.disabled {
    margin: 0;
    background-color: $color-black;
  }

  &.invalid-field {
    border: 1px solid color.scale($color-soft-red, $lightness: 20%);
    margin-bottom: 0;
  }
}
