@use "sass:color";
@import '../../styles/main.scss';

.search-header {
  display: flex;
  flex-direction: column;
  min-height: 18rem;
  padding: 2rem;
  background-color: color.change($color-black, $alpha: 0.8);

  &__top {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;

    .add-movie-btn {
      width: 10rem;
      height: 2.5rem;
      background-color: color.change($color-gray, $alpha: 0.5);
      color: $color-soft-red;
      font-size: 1.1rem;

      &:hover {
        background-color: color.change($color-gray, $alpha: 0.8);
        cursor: pointer;
      }
    }
  }

  &__title {
    flex-grow: 1;
    padding-left: 2rem;
  }
}
