@use "sass:color";
@import "../../styles/theme.scss";

.search-header {
  display: flex;
  flex-direction: column;
  min-height: 18rem;
  padding: 2rem;
  background-color: color.change($COLOR_BACKGROUND, $alpha: 0.8);

  .search-header__top {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;

    .add-movie-btn {
      width: 10rem;
      height: 2.5rem;
      background-color: color.change($COLOR_FONT_SECONDARY, $alpha: 0.5);
      color: $COLOR_HIGHLIGHT;
      font-size: 1.1rem;

      &:hover {
        background-color: color.change($COLOR_FONT_SECONDARY, $alpha: 0.8);
        cursor: pointer;
      }
    }
  }

  .search-header__title {
    flex-grow: 1;
    padding-left: 2rem;
  }
}
