@import "../../styles/theme.scss";

.error-header {
    padding: 2rem;
}

.error-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .error-type {
        font-weight: bold;
        font-size: 15rem;
        letter-spacing: 1.5rem;
        text-shadow: 4px 4px 0px $COLOR_BACKGROUND, -4px 0 0px $COLOR_BACKGROUND, 11px 8px 0 $COLOR_HIGHLIGHT, -11px -4px rgb(46, 132, 167);
    }
    .button-secondary {
        width: 15rem;
    }
}
