@use "sass:color";
@import "../../styles/theme.scss";

.movie-info-header {
  display: flex;
  flex-direction: column;
  min-height: 18rem;
  padding: 2rem;
  background-color: color.change($COLOR_BACKGROUND, $alpha: 0.8);
  font-size: 1.2rem;

  .movie-info-header__top {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .search-button {
      color: $COLOR_HIGHLIGHT;
      justify-self: flex-end;
      width: 3.2rem;
      height: 3.2rem;
      padding: 0.1rem;
      background-color: color.change($COLOR_INPUT_BACKGROUND, $alpha: 0);

      .search-button__icon {
        font-size: 3rem;
      }

      &:hover {
        color: $COLOR_FONT_PRIMARY;
      }
    }
  }

  .movie-info-header__container {
    display: flex;

    .movie-info__poster {
      width: 15rem;
    }

    .movie-info {
      display: flex;
      flex-direction: column;
      margin-left: 3rem;

      .movie-info__title,
      .movie-info__line {
        display: flex;
      }

      .movie-info__title {
        min-height: 5rem;
        align-items: center;
      }

      .movie-info__movie_title {
        font-size: 2.5rem;
      }

      .movie-info__rating {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 4rem;
        margin-left: 2rem;
        border: 1px solid $COLOR_FONT_PRIMARY;
        border-radius: 50%;
        background-color: $COLOR_BACKGROUND;
        color: rgb(125, 184, 37);
        font-size: 2rem;
      }

      .movie-info__line {
        justify-content: space-between;
        width: 10rem;
        margin: 1rem 0;
        font-size: 1.3rem;
        color: $COLOR_HIGHLIGHT;
      }
    }
  }
}
